.ModelPage {
  flex: 1;
  position: relative;
  .selRect {
    position: absolute;
    display: none;
    z-index: 5;
    border: 2px solid #0f0;
  }
  .Selection {
    .Heading {
      margin: -6px -6px 4px -6px;
      border-radius: 6px;
      background: rgba(64, 64, 64, 0.8);
      cursor: all-scroll;
      padding: 0 6px;
      font-size: 120%;
      font-weight: bold;
      text-align: center;
      user-select: none;
    }
    .Icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      margin: -2px 2px -2px 0;
      z-index: 1;
      position: relative;
    }
    .Body {
      max-height: 500px;
      overflow-y: auto;
      .name {
        font-size: 1.2em;
        font-weight: bold;
      }
      .ItemDrops {
        > li > span {
          font-weight: bold;
        }
        padding-left: 1em;
      }
      .ItemDrop {
        padding-left: 1em;
      }
      a {
        font-weight: normal;
        color: #94cdff;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .listToggle {
        margin-left: 5px;
        font-weight: normal;
        color: #94cdff;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    position: absolute;
    z-index: 8;
    background: rgba(64, 64, 64, 0.5);
    color: #fff;
    border-radius: 6px;
    padding: 6px 6px 0 6px;
  }
}
.HomePage {
  flex: 1;
  padding: 20px;
  overflow: auto;
  margin-bottom: 0;
  .map-list {
    h3, h4 {
      margin: 0.25em 0;
      cursor: pointer;
      span {
        font-size: 80%;
      }
    }
    .desc {
      color: #888;
    }
    ul {
      margin-left: 1em;
      list-style-type: none;
    }
    &.collapsed ul {
      display: none;
    }
  }
  ul {
    margin-left: 2em;
    list-style-type: disc;
  }
  ul.mapInfo {
    margin: 0;
    list-style: none;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 8px;
    font-family: 'QuadratSerial';
    border-radius: 8px;
    max-width: 460px;
    margin-bottom: 8px;
    b {
      font-weight: normal;
      color: #ffcc00;
    }
  }
  .linkLike {
    font-weight: normal;
    color: #337ab7;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .unload {
    color: #888;
    margin-left: 0.5em;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
